<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Mini Message Board | learn node and express</title>
  </head>
  <body
    class="flex flex-col gap-5 items-center py-8 px-2 bg-gray-100 w-[100vw] h-[100vh]"
  >
    <%- include("../partials/mainHeading", {mainHeading: "create new message"})
    %>

    <form
      method="POST"
      action="/messages/new"
      class="flex flex-col gap-5 w-full sm:w-[600px]"
    >
      <div class="flex flex-col gap-3">
        <label
          for="username"
          class="text-gray-500 font-display tracking-wider text-2xl"
          >username</label
        >
        <input
          type="text"
          name="username"
          id="username"
          required
          minlength="3"
          maxlength="15"
          class="border border-purple-300 py-1 px-2 rounded-md text-lg text-gray-600 outline-none focus:ring focus:ring-inset focus:ring-purple-400 focus:ring-offset-0"
        />
      </div>

      <div class="flex flex-col gap-3">
        <label
          for="message"
          class="text-gray-500 font-display tracking-wider text-2xl"
          >message</label
        >
        <textarea
          type="text"
          name="message"
          id="message"
          required
          minlength="5"
          maxlength="150"
          class="border border-purple-300 py-1 px-2 rounded-md text-lg text-gray-600 outline-none focus:ring focus:ring-inset focus:ring-purple-400 focus:ring-offset-0"
        ></textarea>
      </div>

      <button
        class="text-xl tracking-wide uppercase font-display rounded-md bg-purple-500 text-gray-50 font-bold px-4 py-1 hover:bg-purple-800 transition-all duration-150"
        type="submit"
      >
        Create Message
      </button>
    </form>

    <p class="font-bold text-lg font-sans text-purple-800">
      <%= locals.msg || ""%>
    </p>

    <%- include("../partials/innerLink", {linkText: "all messages", linkTo:
    "/messages"}) %> <%- include("../partials/footer") %>
  </body>
</html>
