<%- include("../partials/head") %>
  <body
    class="flex flex-col gap-5 items-center py-8 px-2 bg-gray-100 w-[100vw] h-[100vh]"
  >
    <%- include('../partials/mainHeading', {mainHeading: "mini message board"})
    %>

    <p class="text-lg text-gray-600 text-center">
      small web app created with node.js, express, ejs and tailwind css
    </p>

    <%- include('../partials/innerLink', {linkText:"messages",
    linkTo:"/messages"})%> <%- include('../partials/footer') %>
  </body>
</html>
