<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Mini Message Board | learn node and express</title>
  </head>
  <body
    class="flex flex-col gap-5 items-center py-8 px-2 bg-gray-100 w-[100vw] h-[100vh]"
  >
    <%- include('../partials/mainHeading', {mainHeading: "mini message board"})
    %>

    <p class="text-lg text-gray-600 text-center">lets learn node and express</p>

    <%- include('../partials/innerLink', {linkText:"Messages",
    linkTo:"/messages"})%> <%- include('../partials/footer') %>
  </body>
</html>
