<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Mini Message Board | learn node and express</title>
  </head>
  <body
    class="flex flex-col gap-5 items-center py-8 px-2 bg-gray-100 w-[100vw] h-[100vh]"
  >
    <%- include('../partials/header', { activePage: "messages"}) %>
    <!-- -->
    <% if(locals.messages) { %>
    <ul class="p-5 w-full flex flex-col gap-5 items-center">
      <% messages.forEach(msg => { %>
      <!--  -->
      <%- include("../partials/messageCard", {message: msg}) %>
      <!--  -->
      <% }); %>
    </ul>
    <% } %> <% if (locals.messages.length === 0) { %>
    <p class="text-xl text-gray-600 py-4">no messages</p>
    <% } %>
    <!--  -->
    <%- include('../partials/innerLink', {linkText:"add new message",
    linkTo:"/messages/new"}) %>
    <!--  -->
    <%- include('../partials/footer') %>
  </body>
</html>
